html, body {
    margin: 5px;
    padding: 0;
}

/*
#zones {
    position: fixed;
    background-color: rgba(96, 138, 80, 0.5);
    margin: 10px;
    padding: 10px;
    border: 2px solid rgba(30, 38, 30) ;
}
*/
ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}