<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset='utf-8'>
	<title>MyCastle - Bewässerung</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<link rel="stylesheet" href="Garten.css">

	<link rel="stylesheet" href="./font-awesome-animation.min.css">

	<link rel="manifest" href="./manifest.json">
</head>

<body>
	<div id="app" class="container">

		<div class="fixed-top">
			<div id="sync" class="float-left">
				<table class="table bg-light">
					<thead>
						<tr class="cursor-pointer">
							<th scope="col" v-on:click="switchPolling()"><i class="fas fa-sync faa-spin faa-slow"
									v-bind:class="{'animated': polling }"></i></th>
						</tr>
					</thead>
				</table>

			</div>

			<div class="float-left" style="padding-left: 10pt;">
				<table class="table bg-light">
					<thead>
						<tr class="cursor-pointer">
							<th scope="col" v-on:click="zoneMenuVisible = !zoneMenuVisible">Zonen&nbsp;&nbsp;</th>
							<th scope="col" v-on:click="zoneMenuVisible = !zoneMenuVisible"><i class="fas"
									v-bind:class="{'fa-arrow-up': zoneMenuVisible, 'fa-arrow-down': !zoneMenuVisible}"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr v-if="zoneMenuVisible" v-for="area in areas">
							<td>{{area.name}}</td>
							<td><i class="cursor-pointer fas mr-1" v-bind:class="{ 'fa-shower': area.open }"
									v-on:click="setOpen(area, false)"></i></td>
						</tr>
					</tbody>
				</table>

			</div>

			<div class="float-left" style="padding-left: 10pt;">
				<table class="table">
					<thead class="bg-light">
						<tr>
							<th scope="col">Programme &nbsp;<i class="cursor-pointer fas fa-pen"
									v-bind:style="{'color': editMode ? 'red' : 'black'}" v-on:click="editMode = !editMode"> </th>
							<th scope="col" class="cursor-pointer" v-on:click="programsMenuVisible = !programsMenuVisible"><i class="fas"
									v-bind:class="{'fa-arrow-up': programsMenuVisible, 'fa-arrow-down': !programsMenuVisible}"></i></th>
						</tr>
					</thead>
					<tbody v-bind:class="{ 'invisible': !programsMenuVisible, 'bg-light': programsMenuVisible }">
						<tr v-for="(program, index) in programs">
							<td>
								<div v-if="editMode">
									<input v-if="editMode" v-model="program.name" size="15">
									<input v-if="editMode" v-model="program.cron" size="8" style="padding-left: 10px;">
									<a href="https://crontab.guru/" target="_blank"><i class="cursor-pointer fas fa-question"></i></a>
								</div>
								<p v-if="!editMode">
									<b>{{program.name}}</b> - {{program.cron}}
								</p>
								<p>
									<div v-if="editMode">
									Aktiv: <i class="cursor-pointer far"
										v-bind:class="{ 'fa-check-square': program.active, 'fa-square': !program.active }"
										v-on:click="program.active = !program.active"></i>
									</div>
									<div v-if="!editMode">
									<i class="cursor-pointer fas fa-shower" v-on:click="switchProgramRun(program)"
														v-bind:style="{ color: program.isRunning ? 'blue' :'grey' }">&nbsp;{{program.isRunning ? 'Stoppen' : 'Testlauf starten'}}</i>
									</div>
								</p>
								<div style="padding-top: 10px; padding-left: 20px;">
									<b>Abfolge</b>
									<p v-for="(task, tIndex) in program.tasks" v-if="editMode">
										<select v-model="task.area">
											<option v-for="area in areas" v-bind:value="area.pin">{{area.name}}</option>
										</select>
										<input v-model="task.duration" size="10">
										<i class="cursor-pointer fas fa-trash" v-on:click="removeTask(program, tIndex)"></i>
									</p>
									<p v-for="task in program.tasks" v-if="!editMode">
										{{getAreaByPin(task.area).name}} - {{task.duration}}
									</p>
									<i class="cursor-pointer fas fa-plus-square" v-on:click="appendTask(program)" v-if="editMode"></i>
								</div>
							</td>
							<td><i class="cursor-pointer fas fa-trash" v-on:click="removeProgram(index)" v-if="editMode"></i></td>
						</tr>
						<tr v-if="editMode">
							<td>
								<i class="cursor-pointer fas fa-plus-square" v-on:click="appendProgram()"></i>
							</td>
							<td>
								<i class="cursor-pointer fas fa-save" style="font-size: 2em" v-on:click="savePrograms()"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<object id="GartenSvg" data="Garten.svg" type="image/svg+xml"></object>

		<div ref="myContextMenu" class="dropdown-menu dropdown-menu-sm" id="context-menu">
			<div v-if="menuArea != null && !menuArea.open" class="dropdown-item cursor-pointer"
				v-on:click="setOpen(menuArea, true)"><i class="fas fa-play mr-1"></i>{{menuArea?.name}} bewässern</div>
			<div v-if="menuArea != null && menuArea.open" class="dropdown-item cursor-pointer"
				v-on:click="setOpen(menuArea, false)"><i class="fas fa-stop mr-1"></i>{{menuArea?.name}} Bewässerung stoppen
			</div>
		</div>
	</div>

	<div id="alertServiceWorker" hidden>ServiceWorker not available.</div>

	<script type="module" src="Garten.js"></script>

</body>

</html>